<% if (products) { %>
<section>
    <%products.forEach(product => { %>
    <article>
        <h3><%= product.petname %></h3>
        <p><%= product.price %></p>
        <p><%= product.name %></p>
        <p><%= product.type %></p>
    </article>
    <% }); %>
</section>
<% } %>
