<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <a href="/">Home</a>
        <a href="/productManagement/new">New Foster Animal</a>
        <% if (locals.products) { %> <%- include("partials/product.ejs",
        {products: products}) %> <% } %>
    </body>
</html>
